flows_sunroof.json
[
  {
    "id": "df413b78.065258",
    "type": "tab",
    "label": "Remote Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1016853e.eda87b",
    "type": "position-config",
    "z": "",
    "name": "Mount Colah",
    "isValide": "true",
    "longitude": "0",
    "latitude": "0",
    "angleType": "deg",
    "timezoneOffset": "10"
  },
  {
    "id": "414d4aa.496ccb4",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "tick every 30 min",
    "topic": "",
    "payload": "tick",
    "payloadType": "str",
    "repeat": "",
    "crontab": "*/30 0-23 * * *",
    "once": false,
    "onceDelay": "",
    "x": 150,
    "y": 700,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "43db3f21.16c64",
    "type": "rpi-gpio out",
    "z": "df413b78.065258",
    "name": "GPIO14-CLOSE",
    "pin": "8",
    "set": true,
    "level": "1",
    "freq": "",
    "out": "out",
    "x": 1160,
    "y": 720,
    "wires": []
  },
  {
    "id": "55b38a78.5b46f4",
    "type": "rpi-gpio out",
    "z": "df413b78.065258",
    "name": "GPIO18-STOP",
    "pin": "12",
    "set": true,
    "level": "1",
    "freq": "",
    "out": "out",
    "x": 1160,
    "y": 640,
    "wires": []
  },
  {
    "id": "690ccc68.187134",
    "type": "rpi-gpio out",
    "z": "df413b78.065258",
    "name": "GPIO15-OPEN",
    "pin": "10",
    "set": true,
    "level": "1",
    "freq": "",
    "out": "out",
    "x": 1160,
    "y": 560,
    "wires": []
  },
  {
    "id": "a1434bbc.60c2b8",
    "type": "trigger",
    "z": "df413b78.065258",
    "op1": "0",
    "op2": "1",
    "op1type": "str",
    "op2type": "str",
    "duration": "150",
    "extend": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "name": "",
    "x": 920,
    "y": 560,
    "wires": [["690ccc68.187134"]]
  },
  {
    "id": "c4b8c2d3.29b08",
    "type": "trigger",
    "z": "df413b78.065258",
    "op1": "0",
    "op2": "1",
    "op1type": "str",
    "op2type": "str",
    "duration": "150",
    "extend": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "name": "",
    "x": 920,
    "y": 640,
    "wires": [["55b38a78.5b46f4"]]
  },
  {
    "id": "95e1e829.dfcf98",
    "type": "trigger",
    "z": "df413b78.065258",
    "op1": "0",
    "op2": "1",
    "op1type": "str",
    "op2type": "str",
    "duration": "150",
    "extend": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "name": "",
    "x": 920,
    "y": 720,
    "wires": [["43db3f21.16c64"]]
  },
  {
    "id": "3a3db378.a89d9c",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "50%",
    "topic": "",
    "payload": "50",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 320,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "90c9935.b4d3e7",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "40%",
    "topic": "",
    "payload": "40",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 360,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "67708a19.405044",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "30%",
    "topic": "",
    "payload": "30",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 400,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "c8b79508.ce0458",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "80%",
    "topic": "",
    "payload": "80",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 200,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "52815193.0ae26",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "100%",
    "topic": "",
    "payload": "100",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 120,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "b0e97df4.ef5a6",
    "type": "function",
    "z": "df413b78.065258",
    "name": "Control Shutters",
    "func": "const TIME_TO_FULLY_OPEN = 28000;  // in milli seconds\nconst TIME_TO_PAUSE = 3000;        // in milli seconds\nconst EPSILON = 3                  // ignore small position changes below this number of degrees\nconst press_open =  [ { payload: 1 }, null, null ];\nconst press_stop =  [ null, { payload: 1 }, null ];\nconst press_close = [ null, null, { payload: 1 } ];\nconst press_null =  [ null, null, null ];\n\nlet position = context.get('position');\nlet actions = [];\nlet delay_1 = 0\n\n// check if we need to reset the shutter\nif (position === undefined) {\n    actions.push({ delay: 0, msgs: press_close, fill: 'yellow', text: 'Resetting' });\n    delay_1 = TIME_TO_FULLY_OPEN+TIME_TO_PAUSE;\n    position = 0;\n}\n\n// clamp the command\nlet cmd = ( msg.payload < 0 + EPSILON ) ? 0 :\n          ( msg.payload > 100 - EPSILON ) ? 100 :\n            msg.payload;\n\n// when no significant change\nif (Math.abs(position - cmd) < EPSILON) {\n    actions.push({ delay: delay_1, msgs: press_null, fill: 'yellow', text: `No Change for ${cmd.toFixed(1)}%` });\n    cmd = position;\n    actions.push({ delay: delay_1+TIME_TO_PAUSE, msgs: press_null, fill: 'green', text: `Ready at ${cmd.toFixed(1)}%` });\n\n// when need to open shutter wider\n} else if (cmd > position) {\n    const delay_2 = TIME_TO_FULLY_OPEN * Math.abs(cmd - position) / 100;\n    const maybe_press_stop = (cmd == 100) ? press_null : press_stop;\n    actions.push({ delay: delay_1, msgs: press_open, fill: 'yellow', text: `Opening for ${(delay_2/1000).toFixed(1)}s` });\n    actions.push({ delay: delay_1+delay_2, msgs: maybe_press_stop, fill: 'green', text: `Ready at ${cmd.toFixed(1)}%` });\n\n// when need to close shutter narrower\n} else {\n    const delay_2 = TIME_TO_FULLY_OPEN * Math.abs(cmd - position) / 100;\n    const maybe_press_stop = (cmd === 0) ? press_null : press_stop;\n    actions.push({ delay: delay_1, msgs: press_close, fill: 'yellow', text: `Closing for ${(delay_2/1000).toFixed(1)}s` });\n    actions.push({ delay: delay_1+delay_2, msgs: maybe_press_stop, fill: 'green', text: `Ready at ${cmd.toFixed(1)}%` });\n}\n\ncontext.set('position', cmd);\n\n// schedule all the actions\nactions.forEach(action => {\n    setTimeout(function() {\n        node.status({fill: action.fill, shape: 'dot', text: action.text});\n        node.send( action.msgs );\n    }, action.delay);\n\n})\n\nreturn;",
    "outputs": 3,
    "noerr": 0,
    "x": 680,
    "y": 640,
    "wires": [["a1434bbc.60c2b8"], ["c4b8c2d3.29b08"], ["95e1e829.dfcf98"]],
    "inputLabels": ["Position %"],
    "outputLabels": ["Open", "Stop", "Close"]
  },
  {
    "id": "ac656751.a53988",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "20%",
    "topic": "",
    "payload": "20",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 440,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "711513ad.91812c",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "10%",
    "topic": "",
    "payload": "10",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 480,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "a71b98f5.920388",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "0%",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 520,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "ceacefcc.ec141",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "60%",
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 280,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "839083cd.27c5b",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "70%",
    "topic": "",
    "payload": "70",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 240,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "38cdfeec.aa9aa2",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "90%",
    "topic": "",
    "payload": "90",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 160,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "bedab1e9.d84a1",
    "type": "sun-position",
    "z": "df413b78.065258",
    "name": "",
    "positionConfig": "1016853e.eda87b",
    "rules": [],
    "onlyOnChange": "true",
    "topic": "",
    "outputs": 1,
    "start": "",
    "startType": "none",
    "startOffset": 0,
    "startOffsetType": "none",
    "startOffsetMultiplier": 60000,
    "end": "",
    "endType": "none",
    "endOffset": 0,
    "endOffsetType": "none",
    "endOffsetMultiplier": 60000,
    "x": 570,
    "y": 140,
    "wires": [["dc663ba3.edcb88"]]
  },
  {
    "id": "dc663ba3.edcb88",
    "type": "function",
    "z": "df413b78.065258",
    "name": "Calculate Blind Angle",
    "func": "\n// 86 Excelsior Rd is aligned 10° to the east of True North \nconst orientation = ( 10 ) * (2 * Math.PI) / 360;               // orientation of blind axis 0 = North, 90 = East, etc.\nconst h = Math.sin(msg.payload.altitudeRadians);                // unit height of sun vertically\nconst z = Math.cos(msg.payload.altitudeRadians);                // unit distance to sun horizontally\nconst w = z * Math.sin(msg.payload.azimuthRadians-orientation); // unit distance to sun horizontally perpendicular to blind axis\nconst theta = Math.atan2(h, w)*360/(2*Math.PI);                 // blind angle to sun 0 = sunset, 180 = sunrise\nmsg.payload.blind_angle = theta;\n\nconst status_text = `z ${z.toFixed(1)} | h ${h.toFixed(1)} | w ${w.toFixed(1)} | Theta ${theta.toFixed(1)}°`;\nnode.status({fill:\"green\", shape:\"dot\", text: status_text });\n\nconst log_text = `Elev ${msg.payload.altitude.toFixed(1)} | Azim ${msg.payload.azimuth.toFixed(1)} | ${status_text}`\nnode.log(log_text);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 960,
    "y": 140,
    "wires": [["3c591e4e.4e3fd2"]],
    "inputLabels": ["Sun Position"],
    "outputLabels": ["Blind Angle"]
  },
  {
    "id": "3c591e4e.4e3fd2",
    "type": "function",
    "z": "df413b78.065258",
    "name": "Angle to Position",
    "func": "// Convert blind_angle (0=sunset, 180=sunrise) to shutter position (0=closed, 100=open)\n//\n//     shutter position\n//            |\n//            |\n//        100 |   +\n//            |   *   *\n//            |   *       *\n//         60 *****           +               ****\n//         50 *                   *           *  *\n//            *                       *       *  *\n//            *                           *   *  *\n//            *                               +  *\n//  **********+----------------------------------+*********>  blind_angle\n//            0   15          90             165 180°\n//          sunset                               sunrise\n//\nconst ANGLE_AT_100PC = 30;                      // equiv to 90° at 60%\nconst ANGLE_REFLECTION = -95;                  // angle to point reflection at -90 is vertically down\nconst ba = msg.payload.blind_angle;\nconst m = -100/(180 - ANGLE_AT_100PC);         // line slope\nconst c = 100 - m * ANGLE_AT_100PC;            // line intercept\n\nmsg.payload = (ba < -180) ? 0 :                 // invalid ie closed\n              (ba > 180) ? 0 :                  // invalid ie closed\n              (ba < -175) ? 60 :                // =180 to -175 sunrise ie open wide\n              (ba < 0) ? 0 :                    // -175 to 0 ie sun below horiz ie closed\n              (ba < ANGLE_AT_100PC) ? 60 :      // 0 to 15 very late afternoon  ie open wide\n              (ba > 165) ? 60 :                 // 165 to 180 very early morning ie open wide\n              (ba > 100) ? m * ((ba+ANGLE_REFLECTION)/2+90) + c :  // track the reflection  \n              m * ba + c;                       // track the sun ie y = mx + c\n\nconst text = `Theta ${ba.toFixed(1)}° | Pos ${msg.payload.toFixed(1)}%`;\nnode.status({fill:\"green\", shape:\"dot\", text });\nnode.log(text);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1170,
    "y": 140,
    "wires": [["b0e97df4.ef5a6"]],
    "inputLabels": ["Blind Angle"],
    "outputLabels": ["Position %"]
  },
  {
    "id": "6299f7ce.adeb98",
    "type": "time-inject",
    "z": "df413b78.065258",
    "name": "",
    "positionConfig": "1016853e.eda87b",
    "payload": "up",
    "payloadType": "str",
    "payloadTimeFormat": 0,
    "payloadOffset": 0,
    "payloadOffsetType": "none",
    "payloadOffsetMultiplier": 60000,
    "topic": "",
    "time": "sunrise",
    "timeType": "pdsTime",
    "timeDays": "*",
    "offset": 0,
    "offsetType": "none",
    "offsetMultiplier": 60000,
    "property": "",
    "propertyType": "none",
    "propertyCompare": "true",
    "propertyThreshold": "",
    "propertyThresholdType": "num",
    "timeAlt": "",
    "timeAltType": "entered",
    "timeAltOffset": 0,
    "timeAltOffsetType": "none",
    "timeAltOffsetMultiplier": 60000,
    "once": false,
    "onceDelay": 0.1,
    "addPayload1": "",
    "addPayload1Type": "none",
    "addPayload1Value": "",
    "addPayload1ValueType": "date",
    "addPayload1Format": "0",
    "addPayload1Offset": 0,
    "addPayload1OffsetType": "none",
    "addPayload1OffsetMultiplier": 60000,
    "addPayload1Days": "*",
    "addPayload2": "",
    "addPayload2Type": "none",
    "addPayload2Value": "",
    "addPayload2ValueType": "date",
    "addPayload2Format": "0",
    "addPayload2Offset": 0,
    "addPayload2OffsetType": "none",
    "addPayload2OffsetMultiplier": 60000,
    "addPayload2Days": "*",
    "addPayload3": "",
    "addPayload3Type": "none",
    "addPayload3Value": "",
    "addPayload3ValueType": "date",
    "addPayload3Format": "0",
    "addPayload3Offset": 0,
    "addPayload3OffsetType": "none",
    "addPayload3OffsetMultiplier": 60000,
    "addPayload3Days": "*",
    "recalcTime": 2,
    "x": 130,
    "y": 580,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "47a27835.67baa8",
    "type": "time-inject",
    "z": "df413b78.065258",
    "name": "",
    "positionConfig": "1016853e.eda87b",
    "payload": "down",
    "payloadType": "str",
    "payloadTimeFormat": 0,
    "payloadOffset": 0,
    "payloadOffsetType": "none",
    "payloadOffsetMultiplier": 60000,
    "topic": "",
    "time": "sunset",
    "timeType": "pdsTime",
    "timeDays": "*",
    "offset": 0,
    "offsetType": "none",
    "offsetMultiplier": 60000,
    "property": "",
    "propertyType": "none",
    "propertyCompare": "true",
    "propertyThreshold": "",
    "propertyThresholdType": "num",
    "timeAlt": "",
    "timeAltType": "entered",
    "timeAltOffset": 0,
    "timeAltOffsetType": "none",
    "timeAltOffsetMultiplier": 60000,
    "once": false,
    "onceDelay": 0.1,
    "addPayload1": "",
    "addPayload1Type": "none",
    "addPayload1Value": "",
    "addPayload1ValueType": "date",
    "addPayload1Format": "0",
    "addPayload1Offset": 0,
    "addPayload1OffsetType": "none",
    "addPayload1OffsetMultiplier": 60000,
    "addPayload1Days": "*",
    "addPayload2": "",
    "addPayload2Type": "none",
    "addPayload2Value": "",
    "addPayload2ValueType": "date",
    "addPayload2Format": "0",
    "addPayload2Offset": 0,
    "addPayload2OffsetType": "none",
    "addPayload2OffsetMultiplier": 60000,
    "addPayload2Days": "*",
    "addPayload3": "",
    "addPayload3Type": "none",
    "addPayload3Value": "",
    "addPayload3ValueType": "date",
    "addPayload3Format": "0",
    "addPayload3Offset": 0,
    "addPayload3OffsetType": "none",
    "addPayload3OffsetMultiplier": 60000,
    "addPayload3Days": "*",
    "recalcTime": 2,
    "x": 140,
    "y": 640,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "49969981.5f90a8",
    "type": "function",
    "z": "df413b78.065258",
    "name": "Control Mode",
    "func": "\nconst auto_weather = [ null, msg, null ];\nconst auto_force = [msg, null, null];\nconst manual_action = x => [null, null, { payload: x }];\nconst no_action = [ null, null, null ]\n\nlet mode = context.get('mode') || 'auto';\nlet sun = context.get('sun') || 'is up';\nlet msgs = no_action;\n\nswitch(msg.payload) {\n    case 'auto':\n        msgs = auto_weather;\n        mode = 'auto';\n        break;\n\n    case 'auto_force':\n        msgs = auto_force;\n        mode = 'auto';\n        break;\n\n    case 'up':\n        msgs = (mode == 'auto') ? auto_weather : no_action;\n        sun = 'is up';\n        break;\n\n    case 'down':\n        msgs = manual_action(0);\n        sun='is down';\n        break;\n\n    case 'tick':\n        if (mode == 'auto' && sun == 'is up')\n            msgs = auto_weather;\n        break;\n\n    default:\n        msgs = manual_action(msg);\n        mode = 'manual';\n        break;\n\n}\n\nconst text = `${mode} Mode | Sun ${sun}`\nnode.status({fill:\"green\", shape:\"dot\", text});\n\ncontext.set('mode', mode);\ncontext.set('sun', sun);\n\nreturn msgs;",
    "outputs": 3,
    "noerr": 0,
    "x": 380,
    "y": 320,
    "wires": [["bedab1e9.d84a1"], ["a9e3f04e.76e07"], ["b0e97df4.ef5a6"]],
    "outputLabels": ["Automatic Control", "Weather Control", "Manual Control"]
  },
  {
    "id": "df74ce58.5725",
    "type": "function",
    "z": "df413b78.065258",
    "name": "Check for Rain",
    "func": "const close_shutter = [ null, { payload: 0 } ];\nconst auto_shutter = [ msg, null ];\nconst format_result = w => `Temp ${w.temperature}°C | Cloud ${(w.cloudCover*100).toFixed(0)}% | Rain ${w.precipIntensity.toFixed(2)} mm/hr | Prob ${(w.precipProbability*100).toFixed(0)}%`;\nconst format_time = d => new Date(d*1000).toString().split('(')[0];\n\nlet output_msgs = auto_shutter;\nlet w = {};\n\nw = msg.payload.currently;\nnode.log(`${format_time(w.time)}- ${format_result(w)}`);\nif (w.precipProbability>0.03) {\n    node.status({fill: 'yellow', shape: 'dot', text: format_result(w)});\n    output_msgs = close_shutter;\n} else {\n    node.status({fill: 'green', shape: 'dot', text: format_result(w)});\n}\n\n\nw = msg.payload.hourly.data[0];\nnode.log(`${format_time(w.time)}- ${format_result(w)}`);\n\nw = msg.payload.hourly.data[1];\nnode.log(`${format_time(w.time)}- ${format_result(w)}`);\n\n\nreturn output_msgs;",
    "outputs": 2,
    "noerr": 0,
    "x": 740,
    "y": 320,
    "wires": [["bedab1e9.d84a1"], ["b0e97df4.ef5a6"]],
    "inputLabels": ["Dark Rain Forecast"],
    "outputLabels": ["No Rain", "Force Close"]
  },
  {
    "id": "a9e3f04e.76e07",
    "type": "http request",
    "z": "df413b78.065258",
    "name": "Get Weather",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "https://api.darksky.net/forecast/7c532ba25bf28dfd69bd3fef4f4ffadc/-33.6552691,151.1201541?units=ca",
    "tls": "",
    "proxy": "",
    "authType": "basic",
    "x": 570,
    "y": 320,
    "wires": [["df74ce58.5725"]]
  },
  {
    "id": "de834f15.c1be8",
    "type": "debug",
    "z": "df413b78.065258",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 330,
    "y": 780,
    "wires": []
  },
  {
    "id": "25e959c0.a45916",
    "type": "pir",
    "z": "df413b78.065258",
    "name": "",
    "x": 90,
    "y": 780,
    "wires": [["de834f15.c1be8"]]
  },
  {
    "id": "8a9770d2.2e05d",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "Auto",
    "topic": "",
    "payload": "auto",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 80,
    "wires": [["49969981.5f90a8"]]
  },
  {
    "id": "ffa6fde0.5a5d5",
    "type": "inject",
    "z": "df413b78.065258",
    "name": "AutoF",
    "topic": "",
    "payload": "auto_force",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 40,
    "wires": [["49969981.5f90a8"]]
  }
]
